form.msger-inputarea {
    position: relative;
    bottom: unset;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.msger-chat {
    padding: 0 25px;    
    max-width: 1024px;
    margin: 25px auto 0 auto;
}

.msger-header {
    background-color: #333;
}

.msger-header-title {
    color: #FFF;
    text-align: center;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 22px;
}

.msg-bubble {
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
    width: 200px;
    padding: 15px;
}

.msg-left-msg {
    text-align: left;
}

.msg-right-msg {
    display: flex;
    justify-content: flex-end;
}

.msg-info-name {
    font-weight: bold;
}

.msg-info-time {
    font-style: italic;
}