.createtravel {
	margin-top: 100px;
	text-align: center;
}

.form {
	margin: 100px auto 0 auto;
	background-color: #2e2e2a;
	height: auto;
	width: 100%;
	box-shadow: 10px 10px 5px #aaaaaa;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 720px;
}

.form .back {
	margin-top: 25px;
}

.inputfields {
	color: white;
}

.inputfields > input {
	margin: 10px auto 10px auto;
	display: block;
	background-color: #2e2e2a;
	outline: 0;
	border: 0;
	border-bottom: 2px solid white;
	color: white;
	padding: 10px;
	width: 50%;
}

.inputfields > button {
	display: block;
	margin: 30px auto 10px auto;
	width: 50%;
	height: 50px;
	border: none;
	background-color: #3564fc;
	color: white;
	transition-duration: 0.4s;
}

.inputfields > button:hover {
	background-color: white; /* Green */
	color: #3564fc;
}

::placeholder {
	color: #fff;
}
