.Register {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #333;
}

.Register form {
  background-color: #FFF;
  padding: 25px;
  width: 100%;
  border-radius: 15px;
}

.Register form button {
  background-color: #0564fc;
  border-color: #0564fc;
}

.Register form button:hover {
  background-color: #0564fc;
  border-color: #0564fc;
}

@media all and (min-width: 480px) {
    .Register {
      padding: 120px;
    }
  
    .Register form {
      margin: 0 auto;
      max-width: 320px;
    }
  }